## 导入数据

In [1]:
import numpy as np
import pandas as pd
train = pd.read_csv(r'D:\大四上\机器学习\作业 12.31\archive\mnist_train.csv')
print('训练集维度：',train.shape)
train.head()

训练集维度： (60000, 785)

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [2]:
test = pd.read_csv(r'D:\大四上\机器学习\作业 12.31\archive\mnist_test.csv')
print('训练集维度：',test.shape)
test.head()

训练集维度： (10000, 785)

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
train.describe()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
count,60000.000000,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,...,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.0000,60000.0,60000.0,60000.0,60000.0
mean,4.453933,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.200433,0.088867,0.045633,0.019283,0.015117,0.0020,0.0,0.0,0.0,0.0
std,2.889270,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.042472,3.956189,2.839845,1.686770,1.678283,0.3466,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0
75%,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,254.000000,254.000000,253.000000,253.000000,254.000000,62.0000,0.0,0.0,0.0,0.0

In [13]:
Xtrain=train.drop(columns=['label'],axis=1)
Ytrain=train['label']
Ytrain_flat=Ytrain.values.ravel()
Ytrain_count=np.unique(Ytrain_flat).shape[0]

Xtest=test.drop(columns=['label'],axis=1)
Ytest=test['label']
Ytest_flat=Ytest.values.ravel()
Ytest_count=np.unique(Ytest_flat).shape[0]

In [18]:
def dense_to_one_hot(labels_dense,num_classes):
    num_labels = labels_dense.shape[0]
    index_offset = np.arange(num_labels) * num_classes
    labels_one_hot = np.zeros((num_labels, num_classes))
    labels_one_hot.flat[index_offset + labels_dense.ravel()] = 1
    return labels_one_hot

Ytrain_labels=dense_to_one_hot(Ytrain_flat,Ytrain_count)
Ytrain_labels=Ytrain_labels.astype(np.uint8)

Ytest_labels=dense_to_one_hot(Ytest_flat,Ytest_count)
Ytest_labels=Ytest_labels.astype(np.uint8)

## 对数据进行标准化

In [5]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

Xtrain_scaled = scaler.fit_transform(Xtrain)
Xtest_scaled = scaler.transform(Xtest)

## PCA降维

In [10]:
from sklearn.decomposition import PCA

# 创建一个PCA对象，设置n_components为0.99，表示保留99%的方差
pca = PCA(n_components=0.99)

# 对数据进行降维
Xtrain_pca = pca.fit_transform(Xtrain_scaled)
Xtest_centered = Xtest_scaled - pca.mean_
Xtest_pca = pca.transform(Xtest_centered)

# 输出降维后的维数
print("The reduced dimension is", pca.n_components_)

The reduced dimension is 543

## 将手写风格通过贝叶斯分类器分类

In [12]:
from sklearn.mixture import GaussianMixture
from sklearn.naive_bayes import GaussianNB

# 设置n_components为5，假设有5个高斯分布
gmm = GaussianMixture(n_components=5)

# 对数据进行聚类，得到每个样本的类别标签
y = gmm.fit_predict(Xtrain_pca)

# 高斯贝叶斯分类器
gnb = GaussianNB()

# 训练分类器
gnb.fit(Xtrain_pca, y)

y_pred = gnb.predict(Xtest_pca)

In [28]:
train['written_style']=y
test['written_style']=y_pred

In [30]:
train.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28,written_style
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
unique_labels = np.unique(y)
for label in unique_labels:
    subset = train[train['written_style'] == label]
    subset = subset.drop(columns=['written_style'], axis=1)
    filename = r'D:\大四上\机器学习\作业 12.31\archive\train_image_{}.csv'.format(label)
    subset.to_csv(filename, index=False)

In [32]:
for label in unique_labels:
    subset = test[test['written_style'] == label]
    subset = subset.drop(columns=['written_style'], axis=1)
    filename = r'D:\大四上\机器学习\作业 12.31\archive\test_image_{}.csv'.format(label)
    subset.to_csv(filename, index=False)